* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    transition: 0.5s linear;
}

.container-fluid > a {
    color: rgb(155, 221, 62);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* CAROUSEL */

.carousel {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 30%;
    height: 200px !important;
    width: 10%;
}

.carousel-item {
    width: 100%;
    height: 700px;
}

.carousel-caption {
    padding: 2em;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    animation: zoom 4000ms linear;
}

@keyframes zoom {
    from {
        scale: 1;
    }
    to {
        scale: 1.05;
    }
}

.carousel-caption.text-start {
    bottom: 10%;
    font-size: 1.5em;
    background-color: rgba(161, 161, 161, 0.429);
    backdrop-filter: blur(2px);
}

.gmap_canvas iframe {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gray {
    background-color: lightgray;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-primary {
    background-color: rgba(143, 195, 69, 0.8);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(155, 221, 62) !important;
    border: none;
}
