* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    transition: 0.5s linear;
}

.container-fluid > a {
    color: rgb(155, 221, 62);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* CAROUSEL */

.carousel {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 30%;
    height: 200px !important;
    width: 10%;
}

.carousel-item {
    width: 100%;
    height: 700px;
}

.carousel-caption {
    padding: 2em;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-item.active img {
    animation: zoom 5000ms ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.carousel-caption.text-start {
    bottom: 10%;
    font-size: 1.5em;
    background-color: rgba(161, 161, 161, 0.429);
    backdrop-filter: blur(2px);
}

.gmap_canvas iframe {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
        inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-primary {
    background-color: rgba(143, 195, 69, 0.8);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(155, 221, 62) !important;
    border: none;
}

.darkgray {
    background-color: rgba(60, 60, 60, 0.8) !important;
}

.scrolled {
    background-color: rgba(60, 60, 60, 1);
}

.scrolledline {
    font-size: 1em;
    line-height: 1em;
}

.nonscrolled {
    background-color: rgba(60, 60, 60, 0);
    font-size: 1.2em;
    line-height: 1.2em;
}

.nonscrolledline {
    font-size: 1em;
    line-height: 1em;
}
